:root{
    --color-text:#758096;
   

}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;
    line-height: 1.6;
    background-color:#fff;
    min-height: 100vh;
}

