:root{
    /* Font Variables */
--font-primary:'Nunito', sans-serif;
--font-display:'Josefin Sans', sans-serif;

/* color variable */
--color-primary:#eee;
--color-primary-light:#ffd60a;
--color-primary-dark:#ffc300;
--color-secondary:#003566;
--color-tertiary:#001d3d;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.welcome{
   margin: 7rem 0;
   padding: 0 3rem;
}

figure{
    text-align: center;
    margin-bottom: 3rem;
}

img{
    width: 50%;
    border-radius: 50%;
}

h3{
    font-size: 2rem;
    background-image: linear-gradient(to right, var(--color-primary-light),var(--color-secondary));
	/* display: inline-block; */
	-webkit-background-clip: text;
	color: transparent;
    text-align: center;
    margin-bottom: 3rem;
}

h4{
    color: var(--color-secondary);
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

span{
    color: var(--color-primary-light);
}

.btn{
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius:10rem ;
    display: block;
    text-align: center;
    
   }

   footer{
    background-color: var(--color-tertiary);
    padding:5rem;
    margin-top: 15rem;
  }
  .footer-text{
   color: var(--color-primary);
   font-size: 1.5rem;
   margin-bottom: 2rem;
  }
  
  .footer-content{
   display: flex;
   flex-direction: column;
   font-size: 2rem;
   text-align: center;
  }

  .footer-link{
   color: var(--color-primary);
   text-decoration: none;
   margin-bottom: 1rem;
  }

  .footer-link:hover{
   color: var(--color-primary-light);
  }

  .footer-media{
   display: flex;
   flex-direction: column;
   font-size: 2rem;
   text-align: center;
  }

  .footer-media i{
   color: var(--color-primary);
   text-decoration: none;
   margin-bottom: 1rem;
  }

  .footer-media i:hover{
   color: var(--color-primary-light);
  }


  
/* MEDIA QUERIES */

@media only screen and (min-width:31.25em) {
    .welcome{
        padding: 0 6rem;
        margin: 5rem 0;
     } 

}

@media only screen and (min-width:50em) {
    .welcome{
        padding: 0 10rem;
        margin: 5rem 0;
     }

     h4{
         margin-bottom: 6rem;
    }

     .btn{
        margin: 0 10rem;
    }
    
}

@media only screen and (min-width:62.5em) {
    .welcome{
        padding: 0 15rem;
        margin-top: 0;
     }

     .btn{
        margin: 0 15rem;
    }
    
}

@media only screen and (min-width:75em) {
    .welcome{
        padding: 0 25rem;
     }

    .btn{
        margin: 0 20rem;
    }
}
